body {
	margin: 0;
	font-family: "Inter", "General Sans", sans-serif;
	color: #211c1a;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
